@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
body main {
  position: relative;
  font-family: 'Barlow Condensed', sans-serif; }
body .container-web {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

header {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  transition: all 0.4s; }
  header #header {
    padding: 15px 0px; }
    header #header h1 {
      font-size: 20px;
      color: black;
      font-weight: 500;
      display: inline-block; }
    header #header .container-web .row .webLogo {
      display: flex;
      align-items: center;
      justify-content: start; }
      header #header .container-web .row .webLogo a img {
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 72px;
        padding: 0px 15px; }
    header #header .container-web .row .navbarBox {
      display: flex;
      align-items: center;
      justify-content: center; }
      header #header .container-web .row .navbarBox .webNavbar .mainNavbar {
        display: flex; }
        header #header .container-web .row .navbarBox .webNavbar .mainNavbar .nav-item {
          margin-right: 20px; }
    header #header .container-web .row .navMobile {
      position: relative;
      display: none; }
      header #header .container-web .row .navMobile .mobileNavbar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0; }
    header #header .container-web .row .langSearch {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      header #header .container-web .row .langSearch .languageBox {
        display: flex;
        align-items: center;
        justify-content: center; }
        header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown {
          background-color: rgba(255, 255, 255, 0.795);
          width: 52px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 8px 0px 8px 8px;
          border-radius: 9px;
          cursor: pointer;
          text-decoration: none;
          letter-spacing: 1.4px;
          font-weight: 400;
          font-size: 20px;
          opacity: 1;
          transform: translate(0px, 0px); }
          header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .arrow-down {
            position: absolute;
            top: 55%;
            right: 10px;
            transform: translateY(-50%) rotate(135deg);
            width: 9px;
            height: 9px;
            border-left: 3px solid rgba(0, 0, 0, 0.836);
            border-bottom: 3px solid rgba(0, 0, 0, 0.836);
            color: black; }
          header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown a {
            color: black;
            text-decoration: none;
            font-weight: 500; }
          header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content {
            border-radius: 7px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.795);
            width: 52px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            z-index: 1;
            padding: 8px 0;
            top: 36px;
            left: 0px; }
            header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content ul {
              list-style: none;
              padding: 0;
              margin: 0;
              background-color: rgba(255, 255, 255, 0.795); }
              header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content ul li {
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.3s ease; }
                header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content ul li a {
                  color: black;
                  cursor: pointer;
                  transition: background-color 0.3s ease; }
              header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content ul li:hover {
                background-color: white; }
        header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .active .dropdown-content {
          display: block; }
        header #header .container-web .row .langSearch .languageBox .headRight .headLanguage .active .arrow-down {
          transform: translateY(-50%) rotate(-45deg); }
      header #header .container-web .row .langSearch .searchBox {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        header #header .container-web .row .langSearch .searchBox .searchFormDeskBox {
          position: absolute;
          top: 55px;
          right: 0px;
          display: none; }
          header #header .container-web .row .langSearch .searchBox .searchFormDeskBox input {
            width: 300px; }
        header #header .container-web .row .langSearch .searchBox a {
          border-radius: 20%;
          background-color: rgba(255, 255, 255, 0.795);
          padding: 11px 11px;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
          header #header .container-web .row .langSearch .searchBox a i {
            color: black;
            font-size: 20px; }
      header #header .container-web .row .langSearch .navbar-mobile {
        display: none; }
        header #header .container-web .row .langSearch .navbar-mobile .navbar-toggler {
          font-size: 15px;
          margin-right: 10px; }
        header #header .container-web .row .langSearch .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
          margin-bottom: 5px;
          display: flex;
          align-items: center; }
          header #header .container-web .row .langSearch .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item i {
            margin-right: 7px; }
          header #header .container-web .row .langSearch .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item h1 {
            margin-bottom: 0px; }
        header #header .container-web .row .langSearch .navbar-mobile .offcanvas .offcanvas-body form input {
          border: 1px solid black !important; }
        header #header .container-web .row .langSearch .navbar-mobile .offcanvas .offcanvas-body form input:focus {
          box-shadow: none; }

.headerFixed {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.808); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* url(../fonts/SpartanMB-Medium.ttf) format("truetype"), url(../fonts/SpartanMB-Medium.woff) format("woff"), url(../fonts/SpartanMB-Medium.woff2) format("woff2") */
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Medium.eot);
  src: url(../fonts/SpartanMB-Medium%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Medium.svg#SpartanMB-Medium) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-SemiBold.eot);
  src: url(../fonts/SpartanMB-SemiBold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-SemiBold.svg#SpartanMB-SemiBold) format("svg"), url(../fonts/SpartanMB-SemiBold.ttf) format("truetype"), url(../fonts/SpartanMB-SemiBold.woff) format("woff"), url(../fonts/SpartanMB-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Bold.eot);
  src: url(../fonts/SpartanMB-Bold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Bold.svg#SpartanMB-Bold) format("svg"), url(../fonts/SpartanMB-Bold.ttf) format("truetype"), url(../fonts/SpartanMB-Bold.woff) format("woff"), url(../fonts/SpartanMB-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }
* {
  box-sizing: border-box; }
  * h1,
  * h2,
  * h3,
  * h4,
  * h5,
  * h6,
  * a,
  * p,
  * span,
  * li {
    font-family: 'Barlow Condensed', sans-serif;
    color: #111111; }

body .xbinsaat-mobile {
  display: none; }
body .row {
  --bs-gutter-x: 0rem; }
body ul {
  padding: 0px;
  margin-bottom: 0px; }
body a {
  text-decoration: none; }

@media (min-width: 576px) {
  .container-web {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container-web {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container-web {
    max-width: 1100px; } }
@media (min-width: 1200px) {
  .container-web {
    max-width: 1220px; } }
@media (min-width: 1400px) {
  .container-web {
    max-width: 1350px; } }
@media only screen and (max-width: 1200px) {
  .langSearch .languageBox .headRight .headLanguage .langDropdown {
    width: 50px !important;
    padding: 6px 0px 6px 8px !important; }
    .langSearch .languageBox .headRight .headLanguage .langDropdown .arrow-down {
      width: 8px !important;
      height: 8px !important; }
    .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content {
      width: 50px !important; }

  #partnerLogos {
    padding: 80px 25px !important; }

  #copyRight .row p {
    padding: 10px 25px !important; } }
@media only screen and (max-width: 1120px) {
  #partnerLogos {
    padding: 80px 25px !important; } }
@media only screen and (max-width: 992px) {
  #partnerLogos {
    padding: 80px 25px !important; }
    #partnerLogos .partnerTitleBox p {
      font-size: 22px !important; }

  #copyRight .row p {
    padding: 10px 20px !important; }

  #mainSlider .backGroundImages .backGroundImage img {
    object-fit: cover !important; }
  #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox {
    position: absolute;
    top: 40%;
    left: 15%; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderTitle {
      font-size: 40px !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderDesc {
      font-size: 20px !important; }

  .navWeb {
    display: none !important; }

  #header .row {
    justify-content: center; }

  .navMobile {
    display: flex !important;
    justify-content: center;
    align-items: center; }

  .langSearch {
    justify-content: end !important; }
    .langSearch .languageBox {
      margin-right: 40px !important; }
      .langSearch .languageBox .headRight .headLanguage .langDropdown {
        width: 45px !important;
        padding: 5px 0px 5px 7px !important; }
        .langSearch .languageBox .headRight .headLanguage .langDropdown .arrow-down {
          width: 7px !important;
          height: 7px !important; }
        .langSearch .languageBox .headRight .headLanguage .langDropdown .dropdown-content {
          width: 45px !important; }

  .searchBox {
    display: none !important; }
    .searchBox .searchFormDeskBox {
      display: none !important; }

  .navbar-mobile {
    display: block !important; } }
@media only screen and (max-width: 800px) {
  .navbar-mobile .offcanvas {
    width: calc(100vw - 100vw*0.45) !important; }

  #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox {
    top: 40% !important;
    left: 12% !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderTitle {
      font-size: 33px !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderDesc {
      font-size: 18px !important; } }
@media only screen and (max-width: 800px) {
  .navbar-mobile .offcanvas {
    width: calc(100vw - 100vw*0.45) !important; } }
@media only screen and (max-width: 576px) {
  .navbar-mobile {
    display: block !important; }
    .navbar-mobile .offcanvas {
      width: calc(100vw - 100vw*0.18) !important; }
      .navbar-mobile .offcanvas .offcanvas-header .offcanvas-title img {
        width: 180px !important; }
      .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link h1 {
        font-size: 18px !important; }
      .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item h1 {
        font-size: 18px !important; }

  #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox {
    top: 35% !important;
    left: 10% !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderTitle {
      font-size: 31px !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderDesc {
      font-size: 17px !important; } }
@media only screen and (max-width: 450px) {
  #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox {
    top: 34% !important;
    left: 9% !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderTitle {
      font-size: 29px !important; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderDesc {
      font-size: 17px !important; } }
@media only screen and (max-width: 390px) {
  .navbar-mobile .offcanvas {
    width: calc(100vw - 100vw*0.1) !important; }
    .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link h1 {
      font-size: 18px !important; }
    .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
      padding: 0px !important;
      padding: 0px 20px 0px 10px !important; }
      .navbar-mobile .offcanvas .offcanvas-body .navbar-nav .nav-item .dropdown-menu li .dropdown-item h1 {
        font-size: 18px !important; } }
/* url(../fonts/SpartanMB-Medium.ttf) format("truetype"), url(../fonts/SpartanMB-Medium.woff) format("woff"), url(../fonts/SpartanMB-Medium.woff2) format("woff2") */
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Medium.eot);
  src: url(../fonts/SpartanMB-Medium%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Medium.svg#SpartanMB-Medium) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-SemiBold.eot);
  src: url(../fonts/SpartanMB-SemiBold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-SemiBold.svg#SpartanMB-SemiBold) format("svg"), url(../fonts/SpartanMB-SemiBold.ttf) format("truetype"), url(../fonts/SpartanMB-SemiBold.woff) format("woff"), url(../fonts/SpartanMB-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Bold.eot);
  src: url(../fonts/SpartanMB-Bold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Bold.svg#SpartanMB-Bold) format("svg"), url(../fonts/SpartanMB-Bold.ttf) format("truetype"), url(../fonts/SpartanMB-Bold.woff) format("woff"), url(../fonts/SpartanMB-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }
* {
  box-sizing: border-box; }
  * h1,
  * h2,
  * h3,
  * h4,
  * h5,
  * h6,
  * a,
  * p,
  * span,
  * li {
    font-family: 'Barlow Condensed', sans-serif;
    color: #111111; }

body .xbinsaat-mobile {
  display: none; }
body .row {
  --bs-gutter-x: 0rem; }
body ul {
  padding: 0px;
  margin-bottom: 0px; }
body a {
  text-decoration: none; }

#mainSlider .backGroundImages {
  overflow: hidden;
  background-color: #E8E7E5;
  width: 100%;
  height: 100vh; }
  #mainSlider .backGroundImages .backGroundImage {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: none; }
    #mainSlider .backGroundImages .backGroundImage img {
      width: 100%;
      height: 100vh;
      object-fit: fill; }
    #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox {
      position: absolute;
      top: 32%;
      left: 15%; }
      #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderTitle {
        font-size: 50px;
        font-weight: 700;
        color: black;
        transform: translateX(-200%);
        animation: slideInFromLeft 0.6s ease 0.1s forwards; }
      #mainSlider .backGroundImages .backGroundImage .mainSliderTextBox .mainSliderDesc {
        font-size: 22px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.836);
        animation: slideInFromLeft 0.6s ease 0.1s forwards;
        transform: translateX(-200%); }
  #mainSlider .backGroundImages .activeMainSlider {
    display: block !important;
    opacity: 1;
    animation: slideIn 0.5s ease-in-out forwards; }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-2%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(20%); } }
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  50% {
    opacity: 0.6; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translateX(0); } }
#partnerLogos {
  padding: 80px 0px;
  background-color: #e8e7e542; }
  #partnerLogos .partnerTitleBox h1 {
    text-align: center;
    margin-bottom: 25px; }
  #partnerLogos .partnerTitleBox p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px; }

#copyRight {
  position: static;
  bottom: 0;
  left: 0;
  background-color: #e8e7e51f;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; }
  #copyRight .row {
    display: flex;
    align-items: center; }
    #copyRight .row p {
      font-size: 16px;
      color: black;
      margin-bottom: 0px;
      padding: 10px 0px;
      font-weight: 500; }

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
  /* Kaydırma çubuğu genişliği */ }

::-webkit-scrollbar-thumb {
  background-color: #000000;
  /* Kaydırma çubuğu rengi */ }

::-webkit-scrollbar-track {
  background-color: #ffffff;
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
  /* Kaydırma çubuğu arka plan rengi */ }

::-moz-scrollbar {
  width: 6px;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff; }

::-moz-scrollbar-thumb {
  background-color: #000000; }

::-moz-scrollbar-track {
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
