#partnerLogos {
  padding: 80px 0px;
  background-color: #e8e7e542;

  .partnerTitleBox {
    h1 {
      text-align: center;
      margin-bottom: 25px;

    }

    p {
      text-align: center;
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  .partnerOwlCarouselBox {
    .mobile-owl {
      .item {
        a {
          img {}
        }
      }
    }
  }
}